numpy>=1.26.4
pandas>=2.2.2
pandas-ta>=0.3.14
xgboost>=2.1.1
python-dateutil>=2.9.0
pytz>=2024.1
requests>=2.32.3
pycoingecko>=3.1.0
scikit-learn>=1.5.1
joblib>=1.4.2
textblob>=0.18.0
scipy>=1.14.0
arch>=7.0.0
ccxt>=4.3.65
imblearn>=0.12.3
setuptools<81
