numpy>=1.23.5
pandas>=2.2.2
pandas-ta
xgboost>=2.1.1
python-dateutil>=2.9.0
pytz>=2024.1
requests>=2.32.3
pycoingecko>=3.1.0
scikit-learn==1.4.2
joblib>=1.4.2
textblob>=0.18.0
scipy>=1.14.0
arch>=7.0.0
ccxt>=4.3.65
imbalanced-learn==0.12.3
setuptools<81
